body{
	background:gray;
	margin-top:0px;
	margin-left:-40px;
	margin-right:-40px;
	padding-right:0px;

	font-family: Verdana, Geneva, sans-serif;
}

header{
	background-color:maroon;
	padding:4px;
	height:150px;
	overflow:hidden;

}
#container{
	background:black;
	width: 95%;
	margin:0 auto;
	overflow:hidden;
}
.logo{
	width: 300px;
	height:154px;
	margin-top:-2px;
	margin-left:-2px;
}
ul.nav{
	list-style-type: none;
	margin-left:150px;
	padding: 0;
	line-height:60px;
	overflow: hidden;
}
li.nav{
	float:left;
}
#body{
	background:black;
	width: 95%;
	margin:0 auto;
	width: 70%;
	margin-top:-20px;
	padding-left:250px;
	padding-right:107px;
	padding-bottom: 40px;
	padding-top: 50px;
	overflow:hidden;
}
ul.awards{
	color: gold;
}
li.l{
	padding: 4px;
}
p{
	color:white;
	padding: 3px;
}
.SearchBox{
	margin-top:-65px;
	float:right;
	margin-right:100px;
}
input[type=text]{
	padding:7px;
	border:none;
	font-size:16px;
}
#footer{
	clear: both;
	padding: 7px;
	background-color: maroon;
	color: white;
	text-align: right;
	margin-top:0px;
	margin-right:36px;
	margin-left:40px;
}
.vcss{
	max-height: 18px;
	margin: auto;
	float: left;
}
h2.contacth2{
	text-align: left;
	font-size: 20px;
	color: #ffd700;
}
h3.contacth3{
	text-align: left;
	font-size: 15px;
}
.contact{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: white;
	font-weight: normal;
}
button{
	float:right;
	background:gray;
	border-radius:0 5px 5px 0;
	color:white;
	cursor:pointer;
	position:relative;
	padding:7px;
	border:none;
	font-size:16px;
}
.logoo:link, .logoo:visited{
	display: inline-block;
	font-size:18px;
	front-weight: bold;
	color: #FFFFFF;
	background-color: black;
	text-align: center;
	letter-spacing:0.5px;
	width:150px;
	text-transform: uppercase;
	text-decoration;none;
}
.logoo:hover, .logoo:active{
	background-color:gray;
	font-style:Bold;
}

